<form method="post" id="editcate" name="editcate" action="/admin/category/edit/<%= category.id %>">
  <label for="name">Name</label>
  <input type="text" id="name" name="name" value="<%= category.name%>"/>
  <p><input type="submit" value="Save"/></p>
  <p><input type="hidden" name="id" value="<%= category.id %>"/></p>
</form>
